<div data-role="header">
  <h1>Paradas cercanas</h1>
</div>

<div data-role="content">
  <ul data-role="listview">
  <% @stops.each do |stop| %>
    <li><a href="<%= tussam_estimate_path(:id => stop.number) %>">
      <p><strong><%= stop.number %></strong></p>
      <h3><%= stop.name %></h3>
      <p><%= stop.distance_to(params[:lat], params[:lng]) %> m</p>
      <p class="ui-li-aside"><strong><%= stop.lines.join ", " %></strong></p>
    </a></li>
  <% end %>
</ul>
</div>
