<!DOCTYPE html>
<html manifest="<%= manifest_path %>">
<head>
  <title>Sebus</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<div data-role="page" id="<%= params[:action] %>">
<%= yield %>
<div data-role="footer" data-position="fixed">
  <div data-role="navbar">
    <ul>
      <li><%= link_to "Tiempo de llegada", :root, :"data-icon" => "time" %></li>
      <li><%= link_to "Paradas cercanas", { :action => :location }, :"data-icon" => "marker" %></li>
      <li><%= link_to "Acerca de", { :action => :about }, :"data-icon" => "info" %></li>
    </ul>
  </div>
</div>
</div>
</body>
</html>
