<!DOCTYPE html>
<html>
<head>
  <title>Tussam</title>
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css" />
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<div data-role="page" id="<%= params[:action] %>">
<%= yield %>
<div data-role="footer" data-position="fixed">
  <div data-role="navbar">
    <ul>
      <li><%= link_to "Buscar parada", :root, :"data-icon" => "search" %></li>
      <li><%= link_to "Paradas cercanas", { :action => :location }, :"data-icon" => "star" %></li>
      <li><%= link_to "Acerca de", { :action => :about }, :"data-icon" => "info" %></li>
    </ul>
  </div>
</div>
</div>
</body>
</html>
